extends ../shared/layout
block main-content
    .well.col-md-6.col-md-offset-3
        form.form-horizontal(method='POST')
            fieldset
                legend.text-center Edit Profile: #{user.username}
                    //.form-group
                    //    label.col-md-4.control-label(for="avarat") Avatar
                    //    .col-md-8
                    //        input.form-control(if="avarat", type="file", name="avatar")
                    .form-group
                        label.col-md-4.control-label(for="phone-number") Phone number
                        .col-md-8
                            input.form-control(id="phone-number", type="text", placeholder="Phone number", value="#{user.phoneNumber}", name="phoneNumber")
                    .form-group
                        label.col-md-4.control-label(for="facebook-link") Facebook Link
                        .col-md-8
                            input.form-control(id="facebook-link", type="url", placeholder="Facebook", value="#{user.facebookLink}", name="facebookLink")
                    .form-group
                        label.col-md-4.control-label(for="twitter-link") Twitter Link
                        .col-md-8
                            input.form-control(id="twitter-link", type="url", placeholder="Twitter", value="#{user.twitterLink}", name="twitterLink")
                    .form-group
                        label.col-md-4.control-label(for="google-link") Google Link
                        .col-md-8
                            input.form-control(id="google-link", type="url", placeholder="Google", value="#{user.googleLink}", name="googleLink")
                    .form-group
                        label.col-md-4.control-label(for="linkedIn-link") linkedIn Link
                        .col-md-8
                            input.form-control(id="linkedIn-link", type="url", placeholder="linkedIn", value="#{user.linkedInLink}", name="linkedInLink")
            .pull-right
                input.btn.btn-primary(type="submit", value="Update")
                a.btn.btn-primary(href="/") Cancel

